body {
    margin: 0;
}
header {
    padding: 16px 32px;
    box-shadow: rgba(0, 0, 0, .25) 0 2px 4px 0;
    display: flexbox;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 64px;
}
header a {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 64px;
    user-select: none;
}
h2 {
    margin: 0;
    font-family: Zilla Slab;
    font-weight: 500;
    user-select: none;
}
svg {
    vertical-align: bottom;
}
header div {
    display: inline-block;
    position: fixed;
    right: 16px;
    top: 32px;
}
header div a {
    margin-left: 32px;
    font-size: 20px;
    font-weight: bold;
}
.template, pre {
    font-family: 'Fira Code', monospace;
}
main {
    width: 75%;
    margin: 128px auto 32px;
}
main div {
    margin-top: 32px;
}
.template {
    display: block;
    padding: 16px;
    width: 100%;
    border: 1px solid #d3d3d3;
    margin: auto;
}
button {
    width: 32px;
    height: 32px;
    border: none;
}
.template div {
    text-align: center;
}
.template div p {
    display: inline-block;
    font-family: Zilla Slab, serif;
    font-size: 16px;
    font-weight: normal;
}
h1:not(.sample) {
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}
p:not(.sample), main a:not(.sample) {
    font-family: Zilla Slab, serif;
    font-size: 24px;
    font-weight: 300;
}
p a {
    white-space: nowrap;
    display: inline-block;
}
dt {
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 32px;
}
dd {
    font-family: Zilla Slab, serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
    margin-left: 0;
}
code {
    font-family: 'Fira Code', monospace;
}
.center {
    margin-bottom: 32px;
}